DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
PORT=8787
CORS_ORIGIN="http://127.0.0.1:5173"
VITE_API_URL="http://127.0.0.1:8787"

# Identidade
VITE_SERPRO_TOKEN=""
VITE_ALLOW_UNVERIFIED_IDENTITY="true"
